
@font-face {font-family: "iconfont";
  src: url('./icomoon.eot?t=1498467723753'); /* IE9*/
  src: url('icomoon.eot?t=1498467723753#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('icomoon.woff?t=1498467723753') format('woff'), /* chrome, firefox */ url('icomoon.ttf?t=1498467723753') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('icomoon.svg?t=1498467723753#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {  content: "\e001";  }
.icon-spinner2:before {  content: "\e002";  }
.icon-spinner3:before {  content: "\e003";  }
.icon-spinner4:before {  content: "\e004";  }
.icon-spinner5:before {  content: "\e005";  }
.icon-spinner6:before {  content: "\e006";  }








