@import "../../../assets/less/index.less";

.headBar{
  background: rgba(0,0,0,0.1);
  height: 40px;
  line-height: 40px;
  color: @fontColor;
  ul{
    margin-left: 500px;
    li{
      position: relative;
      cursor: pointer;
      margin: 0 5px;
      a{
        text-decoration: none;
        color: @fontColor;
      }
      .iconfont{
        transform: rotate(180deg);
        display: inline-block;
        font-size: 20px;
        margin-left: -5px
      }
    }
    .login{
      margin-right: 8px;
      &.hasUser{
        color: red;
      }
    }
    .qrcode{
      width: 80px;
      height: 80px;
      position: absolute;
      border: 1px solid #555555;
      padding: 2px;
      img{
        width: 100%;
      }
    }
    .split {
      padding: 0 2px;
    }
  }
}